/**修改decorator的颜色**/
.jfx-decorator {
    /*-fx-decorator-color:derive(#1a3399, -20%);*/
    -fx-decorator-color: #1a3399;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-slider {
    -jfx-default-thumb: #7a8fd4;
    -jfx-default-track: #cccccc;
}
.jfx-tab-pane {
    -fx-tab-max-height: 0 ;
}
.jfx-tab-pane .tab-header-area {
    visibility: hidden ;
}